.footer {
  padding: 20px;
  background-color: $bg-color;
  border-top: 1px solid rgba($text-secondary, 0.2);

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content {
    @include flex-custom(column, center, center, 20px, nowrap);
    text-align: center;

    @include respond(desktop) {
      @include flex-custom(row, space-between, center, 0px, nowrap);
    }

    // brand name styles
    .footer-logo {
      color: $text-main;
      font-size: 1.3rem;
      font-weight: 800;
      letter-spacing: 2px;
      text-shadow: 0px 0px 6px $text-secondary;
      transition: 0.3s ease;

      p {
        position: relative;
        top: -1.8rem;
        border-top: 1px solid $text-secondary;
        text-shadow: none;
      }
    }

    // footer socail links styles
    .footer-links {
      display: flex;
      gap: 20px;
    }

    // copyright paragraph styles
    p {
      color: $text-secondary;
      font-size: 0.9rem;

      a {
        color: $text-main;
        font-weight: 500;
        margin-left: 6px;

        &:hover {
          text-decoration: underline;
          color: $text-secondary;
        }
      }
    }
  }
}
