.navbar {
  padding: 0px 30px;
  //   height: 70px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 6px 6px;
  }
}
