// navbar styles
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background: rgba($text-main, 0.8);
  border-radius: 0px 0px 1rem 1rem;
  border-bottom: 1px solid rgba($primary-color, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1000;

  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;

    @include flex-custom(row, space-between, center, 0, nowrap);
  }

  // brand name styles
  &__logo {
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: $bg-color;
    text-shadow: 0px 0px 6px $text-secondary;
    transition: 0.3s ease;

    &:hover {
      color: $text-secondary;
    }

    span {
      color: $primary-color;
      font-size: 2rem;
      margin-left: 3px;
    }
  }

  // nav links styles
  // mobile style
  .nav-links {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $card-bg;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
    display: none;
    border-radius: 0px 0px 6px 6px;

    &.active {
      display: flex;
    }

    a {
      color: $text-secondary;
      font-weight: 500;
      transition: 0.3s ease;
      font-size: 1.3rem;
      margin: 3px 0;

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    // desktop styles
    @include respond(desktop) {
      display: flex;
      flex-direction: row;
      background: transparent;
      padding: 0;
      width: auto;
      gap: 30px;
      position: static;
    }
  }

  // menu icon styles
  .menu-icon {
    display: block;
    font-size: 2.3rem;
    color: $text-secondary;
    cursor: pointer;

    @include respond(desktop) {
      display: none;
    }
  }
}
