.hero-buttons {
  a {
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
    outline: none;
    letter-spacing: 1.1px;
    cursor: pointer;
  }

  .btn-primary {
    background: $text-main;
    border: none;
    color: $black-color;

    &:hover {
      background-color: $text-secondary;
      transform: translateY(-3px);
      transition: 0.3s ease;
      color: $black-color;
      box-shadow: 0px 0px 15px rgba($text-secondary, 0.4);
      border-bottom: 3px solid $primary-color;
    }
  }

  .btn-secondary {
    background: transparent;
    border: 1px solid $text-main;
    color: $text-main;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.hero-socail,
.footer-links,
.info-item {
  a {
    color: $primary-color;
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    padding: 3px;
    transition: 0.3s ease;

    &:hover {
      border-radius: 6px;
      background-color: $text-main;
      color: $text-secondary;
      transform: translateY(-5px);
      filter: drop-shadow(0 0 6px $primary-color);
    }
  }
}
