@import "../abstracts/mixins";
@import "../abstracts/variables";
// @import "components/buttons";

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-color;
  text-align: center;
  padding: 0 20px;

  .hero-container {
    max-width: 900px;

    .header {
      font-size: clamp(2.5rem, 5vw, 4rem);
      color: $text-main;
      line-height: 1.2;

      .highlight {
        color: $primary-color;
      }
    }

    .description {
      color: $text-secondary;
      font-size: 1.1rem;
      margin: 25px 0;
      line-height: 1.6;
    }

    .hero-buttons {
      display: flex;
      gap: 15px;
      justify-content: center;
    }

    .hero-socail {
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;

      a {
        color: $primary-color;
        font-size: 1.5rem;
        width: 35px;
        height: 35px;
        padding: 3px;
        border-radius: 6px;
        transition: 0.3s ease;

        &:hover {
          background-color: $text-main;
          color: $text-secondary;
        }
      }
    }
  }
}
