.hero {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background: $bg-color;
  text-align: center;
  overflow: hidden;

  @include center-everything;

  .hero-container {
    padding: 15% 2rem;
    width: 100%;
    height: 100vh;

    @include respond(desktop) {
      padding: 12% 20%;
    }

    .header {
      color: $text-main;
      font-size: 2.5rem;
      line-height: 1.2;

      @include respond(desktop) {
        font-size: 4rem;
      }

      .highlight {
        color: $primary-color;
      }
    }

    .description {
      margin: 25px 0;
      color: $text-secondary;
      font-size: 1.1rem;
      line-height: 1.6;
    }

    // hero buttons styles
    .hero-buttons {
      @include center-everything;
      gap: 18px;
    }

    // socail media icon styles
    .hero-socail {
      margin: 0 auto;
      padding: 2.5rem 0;
      gap: 15px;

      @include center-everything;
    }
  }
}

// mouse
.glow-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      600px circle at var(--x, 0px) var(--y, 0px),
      rgba(0, 255, 136, 0.2),
      transparent 80%
    );
    z-index: 2;
    pointer-events: none;
  }

  .hero-content {
    position: relative;
    z-index: 10;
    text-align: center;
  }
}

// text
.reveal-text {
  line-height: 1.2;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .word {
    transition:
      color 0.3s ease,
      text-shadow 0.3s ease;
    cursor: default;

    &:hover {
      color: #00ff88;
      text-shadow:
        0 0 15px rgba(255, 255, 255, 0.5),
        0 0 2px #00ff88;
    }
  }
}
