@import "../abstracts/mixins";
@import "../abstracts/variables";
// @import "components/buttons";

.hero {
  padding: 0 20px;
  height: 100vh;
  background: $bg-color;
  text-align: center;

  @include center-everything;

  .hero-container {
    max-width: 900px;
    padding-top: 150px;

    .header {
      color: $text-main;
      font-size: clamp(2.5rem, 5vw, 4rem);
      line-height: 1.2;

      .highlight {
        color: $primary-color;
      }
    }

    .description {
      margin: 25px 0;
      color: $text-secondary;
      font-size: 1.1rem;
      line-height: 1.6;
    }

    // hero buttons styles
    .hero-buttons {
      @include center-everything;
      gap: 18px;
    }

    // socail media icon styles
    .hero-socail {
      margin: 0 auto;
      padding: 2.5rem 0;
      gap: 15px;

      @include center-everything;
    }
  }
}
