.skills {
  padding: 100px 20px;
  background: $text-main;

  @include respond(desktop) {
    padding: 100px 200px;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  .section-title {
    margin-bottom: 50px;
    color: $primary-color;
    font-size: 2rem;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
}
